version: "3.9"

services:
  backend:
    build: ./backend
    container_name: devops_backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: devops_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000
